.info {
  width:300px;

  &__imgwrapper {
    height:88px;
    width:88px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__imgwrapper--red{ background-color:#FFECEF; }
  &__imgwrapper--blue{ background-color:#F4F4FF; }
  &__imgwrapper--blue-two{ background-color:#EAF9FF; }
  &__imgwrapper--green{ background-color:#E4FFEE; }
  &__imgwrapper--yellow{ background-color:#FFF6D3; }
  &__imgwrapper--orange{ background-color:#FDEEE4; }
}