section.designed{
  height:700px;
  padding-right: 100px;

  img{
    float:left;
    margin-right: 90px;
  }

  h1{ padding-top:150px; }

  p{ 
    @include text-normal;
    padding-top:30px; 
    padding-bottom:30px; 
  }
  
}