section.designed{
  position: relative;
  
  height:700px;
  padding-right: 100px;

  @include for-phone-and-tablet{ padding-right: 0px;}

  @include for-phone-only{ height:auto; }

  img{
    float:left;
    margin-right: 90px;

    @include for-phone-and-tablet{ 
      float:none;
      width:90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  div{
    @include for-phone-and-tablet{
      background-color: rgba(255, 255, 255, 0.7);
      margin-left: auto;
      margin-right: auto;
    }

    @include for-tablet-only{
      position: absolute;
      top:20%;
      left:20%;
      width:60%;
      padding:5%;
    }

    @include for-phone-only{
      position: absolute;
      top:0px;
      left:5%;
      width:90%;
      padding:5%;
    }
  }

  h1{ 
    padding-top:150px; 

    @include for-phone-and-tablet{ padding-top:0px; }

    @include for-phone-only{ font-size: 30px;}
  }

  p{ 
    @include text-normal;
    padding-top:30px; 
    padding-bottom:30px; 
  }
  
}