section.faq{
  @include for-phone-and-tablet { padding-top:100px; }
  
  padding-bottom: 120px;

  > p{
    @include text-normal;
    width:54%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    margin: 0px auto;

    @include for-phone-only { 
      width:90%;
    }
  }
}