footer{
  //@include for-phone-and-tablet { display:none; }
  //@include for-phone-and-tablet { display:hide; }
  
  height:500px;
  background-color:$color-blue-three;

  @include for-phone-only{ 
    height:auto; 
    padding-bottom: 30px;
  }

  .nav-brand{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 36px;

    span:nth-of-type(1){ color:$color-orange-one; }
    span:nth-of-type(2){ color:white; }
  }

  .nav-links{
    padding-bottom: 40px;

    ul{
      display: flex;
      justify-content: space-between;
      list-style: none;
      width:460px;
      max-width: 90%;
      margin:0px auto;

      @include for-phone-only{ 
        display:initial; 
      }

      @include for-tablet-only{ 
        width:100%;
      }
      
      li{
        font-size: 16px;
        font-weight: 400;
        line-height: 44px;
        color: white;

        @include for-phone-only{ 
          width:60%;
          margin:0px auto;
        }
      }
    }
  }

  .brands{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    width:11%;
    color:$color-gray-five;
    margin:0px auto;

    @include for-tablet-only{ width:20%; }
    @include for-phone-only{ width:40%; }

    .brand-active{
      color:white;
    }
  }

  .copy{
    font-size: 14px;
    color:$color-gray-one;
    text-align: center;
    padding-top: 90px;
  }
}