$breakpoint-phone: 480px;
$breakpoint-desktop: 1024px;

$color-black-one:#242F51;
$color-gray-one:#616368;
$color-gray-two:#e2eaed;
$color-orange-one:#FCAE61;
$color-orange-two:#FEAA25;
$color-blue-one:#2500f9;