$breakpoint-phone: 480px;
$breakpoint-desktop: 1024px;

$color-black-one:#242F51;
$color-gray-one:#616368;
$color-gray-two:#e2eaed;
$color-gray-three:#F4F7F9;
$color-gray-four:#999CA5;
$color-orange-one:#FCAE61;
$color-orange-two:#FEAA25;
$color-blue-one:#2500f9;
$color-blue-two: #2563ff;
$color-red-one: #f55767;
$color-green-one: #40975f;